// General CSS

body {
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 1000px;
	margin: auto;
	background-color: coral;
}

.container {
	width: 80%;
	margin: auto;
	background-color: green;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

// header

header {
	background: red;
	color: #ffffff;
	padding-top: 30px;
  	min-height: 70px;
  	border-bottom: #32a0c2 3px solid;
}

.logo {
	width: 100px;
}

nav {
  float: right;
  margin-top: 10px;
}

ul a {
	text-decoration: none;
}

ul a:hover {
	color: #000000;
}


li {
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}

.rotatingpic {
	width: 1000px;
}

#overlay {
	background-color: green;
	position: absolute;
	top: 150px;
	left: 700px;
}

h1 {
	font-size: 220%;
}

h2 {
	text-align: center;
}

.flex-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

#contactus {
	width: 100%;
	margin: auto;
	background-color: grey;
}

form {
	padding-left: 50px;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}


//Media Queries template from https://medium.com/@uiuxlab/the-most-used-responsive-breakpoints-in-2017-of-mine-9588e9bd3a8a


@media all and (max-width: 1690px) { ...}

@media all and (max-width: 1280px) { ...}

@media all and (max-width: 980px) { ... }

@media all and (max-width: 736px) { ... }

@media all and (max-width: 480px) { ... }


