// General CSS

body {
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 1000px;
	margin: auto;
	// background-color: coral;
}

.container {
	width: 80%;
	margin: auto;
	// background-color: green;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

// header

header {
	// background: red;
	color: #ffffff;
	padding-top: 30px;
  	min-height: 70px;
  	border-bottom: #32a0c2 3px solid;
}

.logo {
	width: 100px;
}

nav {
  float: right;
  margin-top: 10px;
  font-family: 'Oxygen', sans-serif;
}

ul a {
	text-decoration: none;
}

ul a:hover {
	color: #000000;
}


li {
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}

.rotatingpic {
	width: 1000px;
}

#overlay {
	// background-color: green;
	position: absolute;
	top: 150px;
	left: 700px;
}

#aboutus,
#whatwedo,
#contactus {
	padding-top: 40px;
}




h1 {
	font-family: 'Bungee', cursive;
	color: white;
	font-size: 180%;
}

h2 {
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}

h3 {
	padding: 0;
	margin: 0;
	font-family: 'Oxygen', sans-serif;
	text-transform: uppercase;
}

p {
	font-family: 'Oxygen', sans-serif;
	padding: 10px 10px;
}



#byline {
	margin-top: -20px;
	text-align: left;

}

#life {
	color: blue;
}

button {
	font-family: 'Oxygen', sans-serif;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	text-decoration: none;
}

button a {
	text-decoration: none;
	text-align: right;
}


.flex-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

div h3 {
	// margin: 0 5px;
	// padding: 5px 10px;
	font-family: 'Oxygen', sans-serif;
}

// i.fa, 
// i.fa-user-circle {
// 	font-size: 150%;
// 	text-align: center;
// }
 

#contactus {
	width: 100%;
	margin: auto;
	// background-color: grey;
}

form {
	padding-left: 50px;
}

input[type=text], 
select, 
textarea {
    width: 100%;
    padding: 12px;
    font-family: 'Oxygen', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

footer {
	font-family: 'Oxygen', sans-serif;
}


//Media Queries template from https://medium.com/@uiuxlab/the-most-used-responsive-breakpoints-in-2017-of-mine-9588e9bd3a8a


@media all and (max-width: 1690px) { ...}

@media all and (max-width: 1280px) { ...}

@media all and (max-width: 980px) { ... }

@media all and (max-width: 736px) { ... }

@media all and (max-width: 480px) { ... }


